/* Bookmark page css */
.bookmarktitle {
    margin-top: 5%;
}

.bmktitle {
    font-size: 3em;
}
.card {
    margin: 0 !important;
    border-radius: 8px !important;
    margin-bottom: 5% !important;
}
.bkmiconcontainer{
    width: 10%;
}

.bookmarkicon{
    width: 80%;
}
/* font size */
#no-bookmark-comment{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 20px
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em !important;
    width: 80%;
    font-weight: bold;
    height: 48px;
}


p {
    font-size: 1em;
    line-height: 1.6;
}
#navBtn3 {
    color: #5C9B98;
}