
.card{
    margin: 10% 3%;
    border-radius: 8px !important;
}

/* CSS of mainpage */
.reviewcard {
    width: 98%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}
.info-top-section{
    background-color: white;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 60px;
    position: fixed;
    padding: 10px 20px;
    top: 0;
    z-index: 2;
}
.pixel60-blank{
    height: 60px;
}
.card-body{
    color: black!important;
}

.card-img-bottom{
    height: 300px;
    object-fit: cover;
}
.material-icons{
    float: right;
    font-size: 40px !important;
    color: #5C9384;
    cursor: pointer;
}
.goback{
    width: 40px;
}
/* .reviewcard {
    width: 98%!important;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
} */