.bg-img{
    width: 100%;
    
}
.logo_img {
    
    margin-left: auto;
    margin-right: auto;
    height: 100% !important;
    width: auto !important;


}
.img-container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    width: auto !important;
}
.top-bar{
    padding: 10px !important;
    width: 100%;
}
.btn.btn-info{
    background-color: #FFBF57 !important;
    border: 0;
}
#navBtn1{
    color: #5C9B98;
}

.introducing{
    position: relative;
    margin-top: 0;
}
.welcomemessage {
    margin-bottom: 8vh;
    text-align: center;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 20px;
    color: white;
}
.welcome1{
    font-weight: bold;
    font-size: 20px;
}