.bg-img{
    width: 100%;
    
}
.logo_img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;

}
.top-bar{
    padding: 10px;
}
.btn.btn-info{
    background-color: #FFBF57 !important;
    border: 0;
}
#navBtn1{
    color: #5C9B98;
}

.introducing{
    position: relative;
    margin-top: 0;
}
.welcomemessage {
    margin-bottom: 8vh;
    text-align: center;
    position: absolute;
    top: 20px;
    color: white;
}