.top-bar{
    background-color: #5C9B98;
    padding: 20px 10px;
    position: relative;
    
}
.logo_img{
    width: 120px;
    display: inline;
}
.input-group{
    float: right;
}
.bi-search{
    width: 20px;
}
.material-symbols-outlined.filter-icon{
    position: absolute;
    right: 30px;
    top: 31px;
    font-size: 28px;

}