body{
    background-color: #E3F8F3 !important;
}
.blank{
    display: block;
    height: 120px;
}
.card{
    margin: 10% 3%;
    border-radius: 8px !important;
}

/* CSS of mainpage */
.bookmark-icon {
    position: absolute;
    display: block;
    right: 7%;
    top: 3%;
    font-size: 40px !important;
}
.filtergroup{
    position: fixed !important;
    z-index: 100;
    margin: 0 10% !important;
}
.maincard {
    margin-top: 4%;
}

.maincard .card-body{
    color: black!important;
}
input.active_filter{
    background-color: #FFBF57 !important;
}
.card-img-bottom{
    height: 300px;
    object-fit: cover;
}
.no_underline{
    text-decoration: none;
}
.gray_line{
    height: 2px;
    width: 95%;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/* font size */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em!important;
    width: 80%;
    font-weight: bold;
    height: 48px;
}


p {
    font-size: 1em;
    line-height: 1.6;
}
#navBtn2 {
    color: #5C9B98;
}
