body{
    background-color: #E3F8F3 !important;
}
.blank{
    display: block;
    height: 120px;
}

.filtergroup{
    position: fixed !important;
    z-index: 100;
    margin: 0 10% !important;
}

/* font size */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em!important;
    width: 80%;
    font-weight: bold;
    height: 48px;
}
.card {
    margin: 5% 3%;
    border-radius: 8px !important;
}

p {
    font-size: 1em;
    line-height: 1.6;
}
#navBtn2 {
    color: #5C9B98;
}
