/* Map page css */
.map_container {
    margin: 20px;

    height: 70vh;
}

.fixed-bar {
    position: fixed;
}
.filtergroup{
    position: absolute;
    top: 100px;
    z-index: 100;
}
#map{
    height: 90vh !important;
}
.mapboxgl-canvas{
    height: 90vh !important;
}
#navBtn2 {
    color: #5C9B98;
}
